h1{
    font-size: 3em;
}

hr{
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.09);
    width: 100%;
}

img{
    height: 100%;
}

/*--Type Spans-----------------------------------------------*/

li,
span{
    font-family: sans-serif;

}

li{
    list-style-type: circle;
}
ul{
    list-style-position: inside;
    list-style-type: disc;
}
.copy__hero{
    font-size: 1.75em;
    line-height: 1.75em;
    text-align: left;
    width: 80%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.0);
}
.copy__header{
    font-size: 1.25em;
    line-height: 1.0em;
    margin: 0;
    padding:0;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.0);
}
.copy__subheader{
    font-size: 1.05em;
    line-height: 1.75em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.0);
}
.copy__intro{
    font-size: 1.0em;
    line-height: 2.0em;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5em;
}
.copy__body{
    font-size: 0.85em;
    line-height: 1.85em;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.0);
}
.image__label{
    font-size: 0.75em;
    line-height: 1.5em;
    padding: 0.75em 0em;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.0);
}
.copy__bullet{
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.05em;
    line-height: 1.75em;
}


/*--Hero Styles-----------------------------------------------*/
.hero--block{
    /*background-color: rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(100deg, #D11F3E, #6F1625);*/
    width:100%;
    height: 20em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.hero__image{
    width: 500px;
}

.hero__cta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0.75em 0em;
    padding: 0em 3em;
}

/*--Copy Styles-----------------------------------------------*/
.copy--content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.copy--block{
    background-color: rgba(0, 0, 0, 0.0);
    width:35em;
    margin: 0.5em 0em;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 800px) {
    .copy--block{
        width: 85%;
    }
}

/*--Image Styles-----------------------------------------------*/
.image--block--full{
    background-color: rgba(0, 0, 0, 0.0);
    width:100%;
    height: 100%;
    margin: 0.5em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.block__image{
    width: 75%;

}
.image--block--contain{
    background-color: rgba(0, 0, 0, 0.0);
    width:35em;
    margin: 0.5em 0em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image__fpo{
    background-color: pink;
    width: 100%;
    height: 10em;
}

@media only screen and (max-width: 500px) {
    .image__fpo{
        background-color: lightblue;
    }
}
