.navigation-container{
    background-color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #EBEFF4;
    height:4em;
    width: 100%;
}



.navigation-head{
    font-size: 1.5em;
    margin:0em 0.75em;
    color: rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in;
}

.navigation-label{
    font-size: 1em;
    font-family: sans-serif;
    margin:0em 0.5em;
    color: rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in;
}

.navigation-label:hover, .navigation-head:hover{
    color: rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease-in;
}
