.msgButton{
    background-color: rgba(0, 0, 0, 0.0);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.msgAll{
    background-color: rgba(0, 0, 0, 0.0);
    opacity: 0;
    transform: translateY(-0);
}
.msgContainer{
    height: 100%;
    width: 100%;
}
.msgContent{
    height: 16em;
    width: 16em;
    opacity: 0;
    transform: scale(0);
    margin: 2em;
    border-radius: 0.25em;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.12);
}
.profileContainer{
    width:100%;
    flex: 1;
    background-color: #1583B5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-width: 1em;
}
.thumbnailMask{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}
.test {
    width: 3em;
    height: 3em;
    border-radius: 3em;
    background-color: #1583B5;
    box-shadow: -7px 7px 4px -5px rgba(0,0,0,0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.85em;
}
.profileInfo {
    flex: 3;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0em 0.75em;
}
.messageContainer {
    width:100%;
    flex: 5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0);
    overflow: scroll;
    padding:0.75em;
}
.messageBlock{
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.input {
    width:100%;
    flex: 1;
    flex-direction: row;
    display: flex;
}
.btnSubmit{
    background-color: rgba(0,0,0,0);
    flex: 1;
    box-sizing: content-box;
}
input {
    width: 100%;
    height: 100%;
    padding: 0.125em 1em;
    box-sizing: border-box;
    border-width: 0;
    font-size: 0.8625em;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px -1px 4px 1px rgba(0,0,0,0.05);
    flex: 9;
    color:rgba(0, 0, 0, 0.8);

}
.icon{
    flex-grow: 1;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);;
}
.msgWrapper{
    margin: 0.35em;
}

.messenger-content{
    height: 30em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.copy__prompt{
    font-size: 0.6em;
    margin-top:2.5em;
    margin-bottom: 1.5em;   
    color: rgba(0, 0, 0, 0.2);
}
